body {
    margin: 0;

}

h1 {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.fream-inside {
    margin: 20px 150px;
    background-color: red;
}

.header-leftside {
    display: flex;
    height: 100%;

}

.images {
    height: 100%;

}

.center {
    display: flex;
    align-items: center;
}